h1,h2,h3,h4,h5,h6,
ul,ol,dd,
p,figure,
table,fieldset,hr {
  margin-bottom: $base-pad;
}

.headline,
h1, h2, h3, h4, h5, h6 {
  line-height: $headline-line-height;
  color: $headline-font-color;
  font-family: $montserrat;
  margin-top: 0;
}

h1 {
  font-size: $fontsize_h1;
  margin-bottom: $base-pad;
}

h2 {
  font-size: $fontsize_h2;
  margin-bottom: $base-pad;
}

h3{
  font-size: $fontsize_hProfile;
  margin-bottom: $base-pad;
}