---
title: Friends Request
styles: components/card.scss
maturity: draft
---
<div class="list">
    <div class="list_item">
        <img src="{{ site.baseurl }}/src/assets/images/profile_picture.jpg">
        <p>Anna Newman</p>
        <img class="check" src="{{ site.baseurl }}/src/assets/icons/check_purple.png">
        <img class="delete" src="{{ site.baseurl }}/src/assets/icons/close_grey.svg">
    </div>

    <div class="list_item">
        <img src="{{ site.baseurl }}/src/assets/images/profile_dominic.png">
        <p>Dominic Reindl</p>
        <img class="check" src="{{ site.baseurl }}/src/assets/icons/check_purple.png">
        <img class="delete" src="{{ site.baseurl }}/src/assets/icons/close_grey.svg">
    </div>
</div>