blockquote {
  margin-bottom: $base-pad;
  margin-left: $base-pad;
  padding: $base-pad;
  border-left: 4px solid transparentize($black, .8);
  background: $white;
  color: $black;
  font-size: $fontsize_body;
  line-height: $headline-line-height;
  
  &.blue {
    background: transparentize($purple, .8);
    border-color: black;
    color: $black;
  }
  &.green {
    background: transparentize(yellow, .2);
    border-color: green;
  }
}