
.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: $marginButtons;
  padding: $base-pad;
  background: $purple;
  cursor: pointer;
  color: $white;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  width: 20rem;
  transition: all .2s ease;
  border-radius: 30px;
  font-weight: bold;

  &:hover,
  &:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.582);
  }
}

.button_disabled {
  pointer-events: none;
  opacity: .5;
}
.button_decline {
  color: black;
  background-color: white;
  border: black 2px solid;
}

.button_small{
    width: 10rem;
}

.button_cancel{
  color: $black;
  background-color: $grey;
}

.button_add{
  width:$base-pad;
  height:$base-pad;
}