form{
    display: flex;
    flex-direction: column;
    margin: $base-pad;
}

label{
    font-size: $fontsize_h2;
    font-weight: bold;
    padding: 3rem 0 0.5rem 0;
}
input{
    padding:$base-pad /2;
    border: none;
    background-color: $grey;
    border-radius: 5px;
}