// Devices
$medium-screen: 1080px;
$tablet-screen: 768px;
$mobile-screen: 480px;

// Type Systems
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$urbanist: 'Urbanist', sans-serif;


//Font Size Au Pair
$fontsize_h1: 1.625rem;
$fontsize_h2: 1.25rem;
$fontsize_hProfile: 1.125rem;
$fontsize_body: 1rem;
$fontsize_bodycertain: 0.875rem;


// Primary Colors
$white: #ffffff;
$black: #222222;
$grey: #f0f0f0;
$darkgrey: #3b455b;


// Accent Colors
$peach: #e3996d;
$purple: #7f53fe;

// Base Fonts
$base-font-size: 18px;
$base-line-height: 1.6;
$base-font-color: $black;

// Headline Fonts
$headline-line-height: 1.3;
$headline-font-color: darken($base-font-color, 10%);

// Padding
$large-pad: 1.5rem;
$base-pad: 1rem;
$small-pad: $large-pad / 2; //0.75rem

// Margin
$marginButtons: 2rem;


