---
title: Navigation
styles: components/navigation.scss
maturity: draft
---

<div class="navigation">
    <a href="javascript:void(0)">
        <div class="icon_and_description">
            <img class="icon" src="{{ site.baseurl }}/src/assets/icons/maps_white.png">
            <p>Map</p>
        </div>
        
    </a>
    <a href="javascript:void(0)">
        <div class="icon_and_description">
            <img class="icon" src="{{ site.baseurl }}/src/assets/icons/calendar_white.png">
            <p>Calender</p>
        </div>
        
    </a>
    <a href="javascript:void(0)">
        <div class="icon_and_description">
            <img class="icon" src="{{ site.baseurl }}/src/assets/icons/profile_white.png">
            <p>Profile</p>
        </div>
        
    </a>
</div>